@media (max-width: 650px){
    #home h1{
        
        font-size: 15vw;
    }
    .title2{
        color: white;
        font-size: 5vw;
        margin-bottom: 250px;
    }
    .botoes a{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .botoes a span img{
        padding-right: 0px;
        padding-left: 0px;
       
      }
      .title-sobre{
        font-size:  5vw;
    }
}