*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111111;
    
}
.all_drop{
    display: flex;
    align-items: center;
    width: fit-content;
}
.all_drop p{
    color: white;
    margin-top: 30px;
    margin-left: 25px;
}
.dropbtn {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #031f5a96;
    color: white;
    padding: 25px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    margin-left: 20px;
    color: black;
    border-radius: 30px;
    background-color: #f9f9f9;
    margin-top: 5px;
    padding: 25px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #031f5a96;
  }

#home{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home h1{
    color: white;
    font-size: 10vw;
}
.title:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.title2:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.title2{
    color: white;
}
#seta_home{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 6px #0252ff;
}

#home a img{
    margin-top: 5px;
    width: 80%;
}

#first_page{
    width: 100%;
    height: auto ;
    background-color: #031f5a96;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sobre{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre img{
    width: 40%;
    border-radius: 20px;
}

#sobre div{
    display: flex;
    justify-content: right;
    width: 55%;
    background-color: #031f5a96;
    border-radius: 0px 20px 20px 0px;
    height: auto;
}


.desc{
    text-align: justify;
    width: 85%;
    color: white;
    margin: 15px;
    font-size: 1.2vw;
}

.title-sobre{
    font-size:  3vw;
    color: white;
    margin-top: -40px;
    margin-left: 10px;
}






#projects{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 300px;
}
.p{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    color: white;
    background-color: #031f5a96;
    border-radius: 15px;
    margin-top: -80px;
    
}



.all-projects{
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    background-image: url(img/031f5a961.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}
#cntt{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
   
}

.social{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
   
}

.social div{
    width: 100%;
    height: 150px;
    
    display: flex;
}
.reverse{
    flex-direction: row-reverse;
}

.social div a{
    width: 44%;
    height: 150px;
    /* background-color: #0252ff; */
    transform: skewX(-15deg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    font-size: 4vw;
    
    color: white;
}
.social_title{
    border-radius: 0px 20px 20px 0px;
    padding-left: 15%;
    padding-right: 30px;
    font-size: 80px;
    background-color: #031f5a96;
    color: white;
    width: max-content;
    margin-top: 300px;
}

.inst{

    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.git{
    border: 1px solid white;
    background-color: black;
}
.link{
    background-color: #0e76a8;
}
.mail{
    background-color: #c71610;
}